* {
    margin: 0;
    padding: 0;
    font-size: Montserrat;
  }

:root {
  --bg: #1a1d21;
  --lightbg: #292d33;
  --lighterbg: #3b3f45;
  
  --grey: #c9c7c7; /*fixed*/
  --grey2: #c9c7c7; /*to darker grey*/
  --grey3: #c9c7c7; /*to black*/

  --babyblue: #C3E0E5;
  --lightblue: #5885AF;
  --darkblue: #41729F;
  --blackblue: #274472;
  --blackblueOpacity: rgba(39, 68, 114, 0.5); 
  --blackbluedark: #1d3258;

  
  --orange: rgb(255,165,0);
  --dark-orange: rgb(255,131,0);
  
  --red: #a80000;
  --darkred: rgba(168, 0, 0, 0.6);
  
  --green: #00b050;
  
  --themeFontColor: white;
  --shadow: rgba(0, 0, 0, 0.4);
}

  body {
    margin: 20px auto;
    font-weight: 300;
    background-color: #1a1d21; 
    margin: 0px;
    
  }

  /*-------- SIDEBAR --------*/

#side {
  --sidebarWidth: 250px;
  width: var(--sidebarWidth);
  height: 100vh;
  position: fixed;
  top: 48px;
  left: calc(var(--sidebarWidth) * -1);
  background: var(--darkblue);
  transition: left 0.3s;
  z-index: 8888;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  box-shadow: 0 0 15px 0 var(--shadow);
}

#side.show { left: 0; }

/*side bar (and setting) button*/

#side-btn,
#setting-btn {
  border: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  background: var(--darkblue);
  color: var(--grey);
  transition-duration: 0.5s;
}

#side-btn:hover,
#setting-btn:hover {
  background: var(--lightblue);
}

@media only screen and (min-width: 1000px) {
  #side-btn {
    display: none;
  }
}

/*close button*/
#side-close {
  border: none;
  background: var(--darkblue);
  color: var(--grey);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 50%;
  transition-duration: 1s;
  margin: 6px;
  padding: 7px 6px 6px 6px;
  aspect-ratio: 1/1;
}

#side-close > span {
  font-size: 32px;
}

#side-close:hover {
  background: var(--lightblue);
}

#side > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

#side > section > a {
  color: var(--grey);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

#side > section > a:not(.blanka) {
  margin: 5px;
  padding: 5px;  
}

.blanka { margin: 10px; }

#side > section > a:hover {
  background: var(--lightblue);
}

#side > section > a > span {
  margin-right: 10px;
}

/*-------- NAVBAR --------*/

nav:not(#side, #setting) {
  background: var(--darkblue);
  color: var(--grey);
  font-family: montserrat, sans-serif;
  position: fixed;
  display: flex;
  width: 100%;
  height: 48px;
  z-index: 9999;
}

nav:not(#side, #setting) > div {
  display: flex;
  align-items: center;
}

/*space the google icons*/
nav:not(#side, #setting) > div > a > span {
  margin-right: 3px;
}

/*tabs*/
nav:not(#side, #setting) > div > a {
  display: flex;
  color: var(--grey);
  align-items: center;
  padding: 12px 20px;
  transition-duration: 1s;
}

/*active tab*/
.active {
  background-color: var(--darkblue);
}

/*hover of tabs*/
nav:not(#side, #setting) > div > a:hover:not(.active) {
  background-color: var(--lightblue);
}

nav:not(#side, #setting) > div:first-of-type {
  --widthOfNavbar: 80%;
  width: var(--widthOfNavbar);
}

nav:not(#side, #setting) > div:last-of-type {
  width: 20%;
  justify-content: right;
}

@media only screen and (max-width: 1000px) {
  nav:not(#side, #setting) > div {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  nav:not(#side, #setting) > div:first-of-type {
    display: none;
  }
  nav:not(#side, #setting) > div:last-of-type {
    width: 100%;
  }
}

/*-------- SETTINGS --------*/

#setting {
  --settingWidth: 200px;
  --settingHeight: 300px;
  width: var(--settingWidth);
  height: var(--settingHeight);
  position: fixed;
  top: calc(var(--settingHeight) * -1);
  left: calc(100% - var(--settingWidth)); 
  background: var(--lightbg);
  transition: top 0.3s;
  z-index: 8888;
  border-radius: 0px 0px 0px 50px;
  color: var(--grey);
}

#setting.show { 
  top: 48px;
  box-shadow: 0px 15px 15px 0 var(--shadow); 
}

/*close button*/
#setting-close {
  border: none;
  background: var(--lightbg);
  color: var(--grey2);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  border-radius: 50%;
  transition-duration: 1s;
  margin: 6px;
  padding: 7px 6px 6px 6px;
  aspect-ratio: 1/1;
}

#setting-close > span {
  font-size: 32px;
}

#setting-close:hover {
  background: var(--lighterbg);
}

#setting > section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#setting > section > h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--grey3)
}

#setting > section > a {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  color: var(--grey3);
}

#setting > section > a:hover {
  background-color: var(--lighterbg);
}

#setting > section > a > span { margin-right: 10px; }

#setting > section > div { 
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100px;
  
  border: 3px solid var(--grey3);
  border-radius: 50px;

  padding: 5px;
}

#setting > section > div > button { 
  padding: 13px;
  width: 50px;
  height: 50px;
  margin: 0;

  border: none;
  background: var(--lightbg);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#dark {
  color: var(--darkblue);
}

#light {
  color: var(--dark-orange);
}

#dark.active-theme, #light.active-theme { background: var(--lighterbg); }

/*-------- HEADER --------*/

.header {
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 350px;
  z-index: 2;
  box-sizing: border-box;
  transition-duration: 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > .header-wrap > h1 {
  font-size: 100px;
  font-family: century-gothic;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header::before {
  content: '';
  display: flex;
  background: linear-gradient(to bottom, var(--blackbluedark), var(--blackblue));
  position: absolute;
  border-radius: 0 0 50% 50%;
  width: 120vw;
  height: 75%;
  z-index: -1;
}

.header::after {
  content: '';
  display: flex;
  background: var(--blackblueOpacity);
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 0 50% 50%;
  top: 80px;
  width: 120vw;
  height: 75%;
  z-index: -2;
}

.header-wrap { transform: translateY(2%); }

.header-wrap > h4 { font-size: 20px; }

.header-wrap > h1 > img { transform: translateY(3px); }

@media only screen and (max-width: 767px) {
  .header > .header-wrap > h1 {
    font-size: 54px;
  }
  .header > .header-wrap > h1 > img {
    width: 54px;
    transform: translateY(0px);
  }
  .header > .header-wrap > h4 {
    font-size: 14px;
  }
}

/*-----------------------------------*/

  #wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  #loginform {
    background-color: #1a1d21;
  }

        p {
          color: #C3E0E5;
          font-family: "Montserrat";
          font-size: 16px;
        }

        h4 {
          color: #C3E0E5;
          font-family: "Montserrat";
        }

        h3 {
          color: #C3E0E5;
          font-family: "Montserrat";
          font-size: 22px;
        }

        h2 {
          color: #C3E0E5;
          font-family: "Montserrat";
          font-size: 32px;
          margin-top: 16px;
        }
        
        .text {
          color: white;
          font-family: "Montserrat";
        }

        .welcomelogo {
          margin: 16px 16px;
          margin-bottom: 0px;
        }

        .tou {
          color: #f44336;
        }

        .welcome {
          background-color: #274472;
          color: #C3E0E5;
          padding: 32px 16px; 
          margin: 0px; 
          font-family: "Montserrat";
          font-size: 64px;
          text-align: center;
        }

        .panel {
          box-sizing: border-box;
          float: left;
          width: 25%;
          text-align: center;
        }

        .panel-title {
          text-align: center;
        }

        .textbox {
          box-sizing: border-box;
          padding: 10px 16px;
          width: 100%;
          background-color: #1B2B44;
          border-radius: 12px;
          text-align: center;
        }

        .textbox:hover {
         border: 2px solid #274472;
        }

        a {
          text-decoration: none;
          color: white;
        }

  .box {
    margin: 16px;
  }
   
   .b1 { 
   background-color: #41729F;
   margin: 16px 0px; 
   border: 2px solid #C3E0E5;
    padding: 16px 16px; 
   border-radius: 12px; 
   border: none; 
   transition-duration: 0.4s; 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
   cursor: pointer; 
   width: 100%; 
   opacity: 1; 
   color: white;
   font-family: "Montserrat";
   } 
   
   button:hover { 
   opacity: 0.8; 
   } */

  form {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;

    border: 1px solid white;
  }
   
  input {
    font-family: "Montserrat";
  }
   
  a {
    color: #0000ff;
    text-decoration: none;
  }
   
  a:hover {
    text-decoration: underline;
  }

  #loginform {
    margin: 0 0;
    padding-bottom: 25px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    text-align: center;
  }
   
  .chatbox {
    margin-top: 16px;
    height: 275px;
    width: 1000px;
    overflow-y: overflow;
    font-family: "Montserrat";
    float: right;
    width: 75%;
    margin: 0;
  }

  .chatboxlogin {
    box-sizing: border-box;
    border: 2px solid #274472;
    border-radius: 12px;
    margin-left: 16px;   
    padding: 16px;
  }

  @media only screen and (max-width: 1100px) {
  .panel, .chatbox {
    width: 100%;
    margin-bottom: 16px;
    }
  }

  @media only screen and (max-width: 1100px) {
  .chatboxlogin {
    width: 100%;
    margin-left: 0px;
    }
  }

  @media only screen and (max-width: 500px) {
  p {
    text-align: justify;
    }
  }

          .title { 
        background-color: #274472;
        color: #C3E0E5;
        margin: 0px; 
        padding: 0 0;
        font-family: "Montserrat";
        font-size: 64px;
        text-align: center;
        position: relative;
        z-index: 30;  
        } 

  .welcome {
    background-color: #274472;
    color: #C3E0E5;
    padding: 32px 16px; 
    margin: 0px; 
    font-family: "Montserrat";
    font-size: 64px;
    text-align: center;
    position: relative;
    z-index: 40;  
    max-height: 175px;
    overflow-x: hidden;
    overflow-y: auto;
    }

  #chatbox-in {
    text-align: left;
    margin: 0 auto;
    margin-top: 16px;
    padding: 10px;
    max-height: 500px;
    width: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    border-radius: 12px;
    z-index: 1;
    position: relative;
  }

  #gradient {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 0px;
    z-index: 10;
    box-shadow: 0 10px 30px 30px #1a1d21; /* #1a1d21 */
  }

  @media only screen and (max-width: 1000px) {
  #chatbox-in {
    width: 100%;
    height: 400px;
    margin: 0;
    margin-top: 16px;
          }
        }


#msgform,
#urlform {
  width: 100%;
  display: flex;
  justify-content: center;
}

#msgform {
  margin-top: 64px;
  margin-bottom: 10px;
}

  #userurl,
  #usermsg {
    border-radius: 50px;
    width: 30%;
    font-family: "Open Sans", "Sans-serif";
    padding: 9px 16px;
  }

  #userurl:focus,
  #usermsg:focus {
    outline: none;
    border: 2px solid var(--orange);
  }

  #userurl:hover,
  #usermsg:hover {
    outline: none;
    border: 2px solid var(--darkblue);
  }

  @media only screen and (max-width: 1000px) {
  #usermsg, #userurl {
    width: 65%;
    }
  }

  #submitmsg,
  #submiturl {
    background: var(--darkblue);
    color: white;
    border-radius: 50px;
    font-family: "Open Sans", "Sans-serif";
    padding: 9px 32px;
  }

  #submiturl:hover,
  #submitmsg:hover {
    outline: none;
    border: 2px solid var(--lightblue);
  }




  #name,
  #profileurlimg {
    background-color: #24282e;
    color: #c9c7c7;
    border-radius: 4px;
    border: 2px solid #5885AF;
    width: 50%;
    padding: 4px 8px;
  }

  #name:hover,
  #profileurlimg:hover {
    box-shadow: 0px 0px 5px 2px #274472;
  }

  #name:focus,
  #profileurlimg:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px #274472;
  }

  #enter {
    color: white;
    background-color: #5885AF;
    border: 2px solid #C3E0E5;
    font-family: "Montserrat";
    opacity: 1;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer; 
  }

  #enter:hover {
    opacity: 0.8;
  }

  @media only screen and (max-width: 500px) {
    #profileurlimg, #name {
      width: 100%;
      margin: 0;
    }
  }

  #exit:hover {
    text-decoration: none;
    opacity: 0.8;
  }

  #exit {
    color: white;
    background-color: #5885AF;
    border: none;
    font-family: "Montserrat";
    opacity: 1;
    padding: 18px 32px;
    font-weight: bold;
    border-radius: 50px;
    margin: 16px;
    z-index: 100;
  }
   
  .msgln {
    margin: 0 0 7px 0;
    font-family: "Open Sans", "Sans-serif";
  }

  .msgln:hover {
    background-color: #343549;
    box-shadow: 0px 0px 0px 5px #343549;
  }
   
  .msgln span.chat-time {
    color: #C3E0E5;
    font-size: 60%;
    vertical-align: super;
    font-family: "Open Sans", "Sans-serif";
    float: right;
  }
   
  .msgln b.user-name {
    font-weight: bold;
    background: #C3E0E5;
    font-family: "Open Sans", "Sans-serif";
    color: black;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    color: black;
    font-weight: bold;
    background: grey;
    font-family: "Open Sans", "Sans-serif";
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 4px;
  }

  .msgln span.left-info {
    color: grey;
    font-size: 10px;
  }

  .user-img {
    margin: 0;
    padding: 0;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1d21; 
  border: none;
  border-radius: 6px;
  opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5885AF; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #134074; 
  border-radius: 6px;
  cursor: move;
}

.dropbtn {
  background-color: #41729F;
  color: #c9c7c7;
  padding: 10px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 150;
  border-radius: 0px;  
  transition-duration: 0s;
  box-shadow: none; 
  width: 45; 
  opacity: 1; 
  text-align: right;
}

.dropdown {
  position: relative;
  display: none;
  z-index: 150;
}

.dropdown-content {
  display: none;
  background-color: #5885AF;
  box-shadow: 0px 500px 0px 500px rgba(88, 133, 175, 1);
  z-index: 150;
  position: relative;
  min-width: 100%; 
  text-align: left;
  padding-bottom: 16px;
}

.dropdown-content a {
  background-color: #5885AF;
  color: #c9c7c7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 150;
  opacity: 1;
  transition-duration: 0s;
  text-align: center;
}

.dropdown-content a:hover:not(.blanka) {
  background-color:rgba(195, 224, 229, 0.5);
  color: black;
  position: relative;
  z-index: 150;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
  z-index: 150;
  opacity: 1;
}

.dropdown:hover .dropbtn {
  background-color: #5885AF;
  position: relative;
  z-index: 150;
  opacity: 1;
}

.dropdowncc {
  padding-top: 4px;
  font-size: 16px;
}

  @media only screen and (max-width: 650px) {
  .dropdown {
    display: inline-block;
    }
  }

.copy {
  width: 35px;
  height: 35px;
  background-color: #1a1d21;
  margin: 0px 0px; 
  border: none;
  color: white;
  padding: 2px;
}

.copy:hover {
  background: grey;
  border-radius: 50%;
}